$color-accent-50: #c7ced0;
$color-accent-100: #b3bdc0;
$color-accent-200: #a0acaf;
$color-accent-300: #8c9b9f;
$color-accent-400: #7d8d92;
$color-accent-500: #6b7b80;
$color-accent-600: #5b686d;
$color-accent-700: #3d474a;
$color-accent-800: #2d3436;
$color-accent-900: #1d2123;
$color-accent-base: #6b7b80;
$color-error-50: #ffeeed;
$color-error-100: #ffcbca;
$color-error-200: #ffa9a6;
$color-error-300: #ff8682;
$color-error-400: #ff6b66;
$color-error-500: #ff4842;
$color-error-600: #ff251e;
$color-error-700: #dd0700;
$color-error-800: #b90600;
$color-error-900: #960500;
$color-error-base: #FF4842;
$color-charcoal-50: #737373;
$color-charcoal-100: #616161;
$color-charcoal-200: #4f4f4f;
$color-charcoal-300: #3d3d3d;
$color-charcoal-400: #2f2f2f;
$color-charcoal-500: #1d1d1d;
$color-charcoal-600: #0b0b0b;
$color-charcoal-700: #000000;
$color-charcoal-800: #000000;
$color-charcoal-900: #000000;
$color-charcoal-base: #1d1d1d;
$color-ash-50: #ffffff;
$color-ash-100: #ffffff;
$color-ash-200: #ffffff;
$color-ash-300: #fbfbfc;
$color-ash-400: #ececef;
$color-ash-500: #d9d8df;
$color-ash-600: #c6c4cf;
$color-ash-700: #a3a1b2;
$color-ash-800: #908da2;
$color-ash-900: #7d7a92;
$color-ash-base: #d9d8df;
$color-purple-50: #ffffff;
$color-purple-100: #ffffff;
$color-purple-200: #f6f2fc;
$color-purple-300: #e1d6f4;
$color-purple-400: #d1c0ee;
$color-purple-500: #bca4e6;
$color-purple-600: #a788de;
$color-purple-700: #8256d0;
$color-purple-800: #6e3ac9;
$color-purple-900: #5e30af;
$color-purple-base: #bca4e6;
$color-algae-50: #ffffff;
$color-algae-100: #ffffff;
$color-algae-200: #f8fbf8;
$color-algae-300: #e3ece3;
$color-algae-400: #d2e0d2;
$color-algae-500: #bdd2bd;
$color-algae-600: #a8c4a8;
$color-algae-700: #82a982;
$color-algae-800: #6c9b6c;
$color-algae-900: #5c875c;
$color-algae-base: #BDD2BD;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-short: 1;
$line-height-normal: 1.5;
$line-height-tall: 2;
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-accent-50: #c7ced0;
  --color-accent-100: #b3bdc0;
  --color-accent-200: #a0acaf;
  --color-accent-300: #8c9b9f;
  --color-accent-400: #7d8d92;
  --color-accent-500: #6b7b80;
  --color-accent-600: #5b686d;
  --color-accent-700: #3d474a;
  --color-accent-800: #2d3436;
  --color-accent-900: #1d2123;
  --color-accent-base: #6b7b80;
  --color-error-50: #ffeeed;
  --color-error-100: #ffcbca;
  --color-error-200: #ffa9a6;
  --color-error-300: #ff8682;
  --color-error-400: #ff6b66;
  --color-error-500: #ff4842;
  --color-error-600: #ff251e;
  --color-error-700: #dd0700;
  --color-error-800: #b90600;
  --color-error-900: #960500;
  --color-error-base: #FF4842;
  --color-charcoal-50: #737373;
  --color-charcoal-100: #616161;
  --color-charcoal-200: #4f4f4f;
  --color-charcoal-300: #3d3d3d;
  --color-charcoal-400: #2f2f2f;
  --color-charcoal-500: #1d1d1d;
  --color-charcoal-600: #0b0b0b;
  --color-charcoal-700: #000000;
  --color-charcoal-800: #000000;
  --color-charcoal-900: #000000;
  --color-charcoal-base: #1d1d1d;
  --color-ash-50: #ffffff;
  --color-ash-100: #ffffff;
  --color-ash-200: #ffffff;
  --color-ash-300: #fbfbfc;
  --color-ash-400: #ececef;
  --color-ash-500: #d9d8df;
  --color-ash-600: #c6c4cf;
  --color-ash-700: #a3a1b2;
  --color-ash-800: #908da2;
  --color-ash-900: #7d7a92;
  --color-ash-base: #d9d8df;
  --color-purple-50: #ffffff;
  --color-purple-100: #ffffff;
  --color-purple-200: #f6f2fc;
  --color-purple-300: #e1d6f4;
  --color-purple-400: #d1c0ee;
  --color-purple-500: #bca4e6;
  --color-purple-600: #a788de;
  --color-purple-700: #8256d0;
  --color-purple-800: #6e3ac9;
  --color-purple-900: #5e30af;
  --color-purple-base: #bca4e6;
  --color-algae-50: #ffffff;
  --color-algae-100: #ffffff;
  --color-algae-200: #f8fbf8;
  --color-algae-300: #e3ece3;
  --color-algae-400: #d2e0d2;
  --color-algae-500: #bdd2bd;
  --color-algae-600: #a8c4a8;
  --color-algae-700: #82a982;
  --color-algae-800: #6c9b6c;
  --color-algae-900: #5c875c;
  --color-algae-base: #BDD2BD;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}